<div class="container-fluid">
  <div>&nbsp;</div>
  <div>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <button id="send-get-request" class="btn btn-sm btn-primary">Send GET Request</button>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <button id="send-post-request" class="btn btn-sm btn-primary">Send POST Request</button>
    </div>
  </div>
  <div>&nbsp;</div>

  <h4>Manual requests result</h4>
  <div id="manual-requests-result"></div>

  <h4>Immediately requests result</h4>
  <div id="immediately-requests-result"></div>

</div>


<script>

    $("#send-get-request").on("click", function (evnt) {
        var jqxhr = $.get("/app/Settings/get")
            .done(function () {
                console.log("Manual GET request is successful", new Date());
                $("#manual-requests-result").html("<div class='text-success'>GET request is success " + new Date() + "</div>");
            })
            .fail(function () {
                console.log("Manual GET request is failed", new Date());
                $("#manual-requests-result").html("<div class='text-danger'>GET request is failed " + new Date() + "</div>");
            });
    });

    $("#send-post-request").on("click", function (evnt) {
        var jqxhr = $.post("/app/Settings/post")
            .done(function () {
                console.log("Manual POST request is successful", new Date());
                $("#manual-requests-result").html("<div class='text-success'>POST request is success " + new Date() + "</div>");
            })
            .fail(function () {
                console.log("Manual POST request is failed", new Date());
                $("#manual-requests-result").html("<div class='text-danger'>POST request is failed " + new Date() + "</div>");
            });
    });

    $(function () {
        setInterval(function () {
            $.post("/app/Settings/handle_get_request")
                .done(function (data, status) {
                    console.log("done GET data", data);
                    console.log("done GET status", status);
                    console.log("Immediately GET request is successful", new Date());
                    $("#immediately-requests-result").prepend("<div class='text-success'>GET request is success " + new Date() + "</div>");
                });
        }, 500);

        setInterval(function () {
            $.post("/app/Settings/handle_post_request")
                .done(function (data, status) {
                    console.log("done POST data", data);
                    console.log("done POST status", status);
                    console.log("Immediately POST request is successful", new Date());
                    $("#immediately-requests-result").prepend("<div class='text-success'>POST request is success " + new Date() + "</div>");
                });
        }, 500);

</script>
